force-app/main/default/flows/Delete_Flow_Interview_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Flow_Interview_Record_Exists</name>
        <label>Flow Interview Record Exists?</label>
        <locationX>587</locationX>
        <locationY>206</locationY>
        <defaultConnectorLabel>Does not Exist</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varFlowInterviewRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Flow_Interview_Record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Related_Records_Exist</name>
        <label>Related Records Exist?</label>
        <locationX>424</locationX>
        <locationY>516</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_FlowRelatedRecords_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Flow_Record_Relations</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>For_each_Flow_Record_Relation</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_of_Id</name>
        <label>Type of Id?</label>
        <locationX>191</locationX>
        <locationY>203</locationY>
        <defaultConnectorLabel>Null</defaultConnectorLabel>
        <rules>
            <name>Flow_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varFlowId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varFlowId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Flow_Interview</targetReference>
            </connector>
            <label>Flow Id</label>
        </rules>
        <rules>
            <name>Record_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varRecordId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Flow_Record_Relations</targetReference>
            </connector>
            <label>Record Id</label>
        </rules>
    </decisions>
    <interviewLabel>Delete Flow Interview Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Delete Flow Interview Record</label>
    <loops>
        <name>For_each_Flow_Record_Relation</name>
        <label>For Each Flow Record Relation</label>
        <locationX>686</locationX>
        <locationY>526</locationY>
        <collectionReference>Get_Flow_Record_Relations</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Delete_Flow_Interview</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Flow_Interview</name>
        <label>Delete Flow Interview</label>
        <locationX>687</locationX>
        <locationY>780</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>For_each_Flow_Record_Relation.ParentId</elementReference>
            </value>
        </filters>
        <object>FlowInterview</object>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Flow_Interview_Record</name>
        <label>Delete Flow Interview Record</label>
        <locationX>743</locationX>
        <locationY>345</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Guid</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varFlowId</elementReference>
            </value>
        </filters>
        <object>FlowInterview</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_Flow_Record_Relations</name>
        <label>Get Flow Record Relations</label>
        <locationX>194</locationX>
        <locationY>516</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Related_Records_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FlowRecordRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Flow_Interview</name>
        <label>Lookup Flow Interview</label>
        <locationX>351</locationX>
        <locationY>333</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Flow_Interview_Record_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Guid</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varFlowId</elementReference>
            </value>
        </filters>
        <object>FlowInterview</object>
        <outputReference>varFlowInterviewRecord</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Type_of_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varFlowId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFlowInterviewGuids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFlowInterviewRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FlowInterview</objectType>
    </variables>
    <variables>
        <name>varFlowInterviewsToDelete</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FlowInterview</objectType>
    </variables>
    <variables>
        <name>varRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
