force-app/main/default/flows/General_Lead_Call_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Assign_Lead_Id_to_Flow</name>
        <label>Assign Lead Id to Flow</label>
        <locationX>208</locationX>
        <locationY>480</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varLeadId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Task_Call_1</targetReference>
        </connector>
    </assignments>
    <interviewLabel>General Lead Call Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>General Lead Call Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Task_Call_1</name>
        <label>Create Task: Call 1</label>
        <locationX>407</locationX>
        <locationY>490</locationY>
        <connector>
            <targetReference>Wait_one_day</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>First call from the flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Call 1</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>varLeadId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_Call_2</name>
        <label>Create Task: Call 2</label>
        <locationX>902</locationX>
        <locationY>400</locationY>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Call 2</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>varLeadId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update_Lead_with_Flow_Id</name>
        <label>Update Lead with Flow Interview Id</label>
        <locationX>224</locationX>
        <locationY>256</locationY>
        <connector>
            <targetReference>Assign_Lead_Id_to_Flow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLeadId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Lead_Flow_Id__c</field>
            <value>
                <elementReference>$Flow.InterviewGuid</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Update_Lead_with_Flow_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varLeadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <waits>
        <name>Wait_one_day</name>
        <label>Wait one day</label>
        <locationX>655</locationX>
        <locationY>393</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>One_day</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Create_Task_Call_2</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>$Flow.InterviewStartTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Days</stringValue>
                </value>
            </inputParameters>
            <label>One day</label>
        </waitEvents>
    </waits>
</Flow>
