force-app/main/default/flows/Lead_tasks.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Create_Initial_Task</name>
        <label>Create Initial Task</label>
        <locationX>326</locationX>
        <locationY>515</locationY>
        <assignmentItems>
            <assignToReference>Call.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Initial Call</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Call.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Initial_Call_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Second_Call</name>
        <label>Create Second Call</label>
        <locationX>717</locationX>
        <locationY>399</locationY>
        <assignmentItems>
            <assignToReference>Call2.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Call 2</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Call2.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_second_call</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Flow_Record</name>
        <label>Set Flow Record</label>
        <locationX>326</locationX>
        <locationY>352</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Initial_Task</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Lead automations {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead tasks</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Initial_Call_Task</name>
        <label>Initial Call Task</label>
        <locationX>326</locationX>
        <locationY>665</locationY>
        <inputReference>Call</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Insert_second_call</name>
        <label>Insert second call</label>
        <locationX>790</locationX>
        <locationY>602</locationY>
        <inputReference>Call2</inputReference>
    </recordCreates>
    <recordUpdates>
        <name>Add_Flow_Id_to_Lead</name>
        <label>Add Flow Id to Lead</label>
        <locationX>50</locationX>
        <locationY>345</locationY>
        <connector>
            <targetReference>Set_Flow_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Flow.InterviewGuid</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <start>
        <locationX>211</locationX>
        <locationY>8</locationY>
        <connector>
            <targetReference>Add_Flow_Id_to_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open - Not Contacted</stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>One_day_later</name>
            <connector>
                <targetReference>Create_Second_Call</targetReference>
            </connector>
            <label>One day later</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Call</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>Call2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
